<c-row>
    <c-col xs="12">
        <c-card class="mb-4">
            <c-card-header ngPreserveWhitespaces>
                <strong>Configuraciones</strong>
            </c-card-header>
            <c-card-body>
                <div cFormFloating>
                    <label cLabel for="floatingSelect">Lenguaje </label>
                    <select cSelect id="floatingSelect">
                        <option>ES</option>
                        <option value="1">ES</option>
                        <option value="2">EN</option>
                        <option value="3">PT</option>
                    </select>
                </div>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>
