<div
    class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center"
>
    <c-container>
        <c-row class="justify-content-center">
            <c-col md="6">
                <div class="clearfix">
                    <h1 class="float-start display-3 me-4">400</h1>
                    <h4 class="pt-3">Error</h4>
                    <p class="text-body-secondary float-start">
                        No tienes acceso para acceder a esta página.
                    </p>
                </div>
                <c-input-group class="input-prepend">
                    <c-col>
                        <a
                            href="javascript:history.back();"
                            class="btn btn-info text-white"
                            >Volver atrás</a
                        >
                    </c-col>
                    <c-col>
                        <a href="/login" class="btn btn-success text-white"
                            >Ir al inicio de sesión</a
                        >
                    </c-col>
                </c-input-group>
            </c-col>
        </c-row>
    </c-container>
</div>
