<c-row ngPreserveWhitespaces>
    <c-col xs="12">
        <c-card class="mb-4">
            <c-card-header
                class="d-flex align-items-center justify-content-between"
            >
                <strong class="mb-0">Inversiones</strong>
                <button
                    class="btn btn-sm btn-success text-white"
                    (click)="toggleLiveDemo()"
                >
                    <svg cIcon name="cilPlus"></svg>
                </button>
            </c-card-header>
            <c-card-body>
                <table
                    [hover]="true"
                    [responsive]="true"
                    [striped]="true"
                    align="middle"
                    cTable
                    class="mb-0 border"
                >
                    <thead class="text-nowrap text-truncate">
                        <tr>
                            <th class="bg-body-tertiary">Creación</th>
                            <th class="bg-body-tertiary">Código</th>
                            <th class="bg-body-tertiary">Monto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let investment of investments; index as i">
                            <td>
                                <div>{{ investment.date }}</div>
                            </td>
                            <td>
                                <div>{{ investment.code }}</div>
                            </td>
                            <td>
                                <div>{{ investment.amount }}</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>

<c-modal
    id="liveDemoModal"
    [visible]="visible"
    (visibleChange)="handleLiveDemoChange($event)"
>
    <c-modal-header>
        <h5 cModalTitle>Agregar nueva inversión</h5>
        <button (click)="toggleLiveDemo()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <form>
            <div class="mb-3">
                <span cInputGroupText>Fecha</span>
                <input
                    type="date"
                    class="form-control"
                    name="date"
                    [(ngModel)]="newInvestment.date"
                    required
                />
            </div>
            <div class="mb-3">
                <span cInputGroupText>Código</span>
                <input
                    type="text"
                    class="form-control"
                    name="code"
                    [(ngModel)]="newInvestment.code"
                    required
                />
            </div>
            <div class="mb-3">
                <span cInputGroupText>Monto</span>
                <input
                    type="number"
                    class="form-control"
                    name="amount"
                    [(ngModel)]="newInvestment.amount"
                    required
                />
            </div>
            <div class="mb-3">
                <span cInputGroupText>Adjuntar archivo</span>
                <input
                    type="file"
                    class="form-control"
                    name="file"
                    (change)="handleFileInput($event)"
                    accept=".pdf,.doc,.docx"
                />
            </div>
        </form>
    </c-modal-body>
    <c-modal-footer>
        <button (click)="toggleLiveDemo()" cButton color="secondary">
            Cancelar
        </button>
        <button
            cButton
            class="text-white"
            color="success"
            (click)="saveNewInvestment()"
        >
            Guardar
        </button>
    </c-modal-footer>
</c-modal>
